
/* ==========================================================================
   tilt image effect 
   ( move from here if works )
   ========================================================================== */

   .tilt-img {
    transform-style: preserve-3d;
  }
  
/* 
    ROW Classes to be used only for MAX-WIDTH and MOBILE PADDING
*/

.row__1200 {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
 
    @media (max-width:1200px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
 
    @media (max-width:800px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
 }

/* 
    row__1300 is only used in header to keep the logo further away from the content
*/


.row__1300 {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
 
    @media (max-width:1200px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
 
    @media (max-width:800px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
 }
  

/* 
    ROW Classes to be used only for MAX-WIDTH and MOBILE PADDING
*/


.row__800 {
   width: 100%;
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
   clear: both;

   @media (max-width:1200px) {
       padding-left: 2rem;
       padding-right: 2rem;
   }

   @media (max-width:800px) {
       padding-left: 1rem;
       padding-right: 1rem;
   }
}

/* 
   Please note: 
   Eventual background colour of this ROW should come from a different class
*/

.row__fullwidth {
    width: 100%;
    max-width: 100%;
   text-align: center;
   margin: auto;
   *zoom: 1;
   clear: both;

   @media (max-width:1200px) {
       padding-left: 2rem;
       padding-right: 2rem;
   }

   @media (max-width:800px) {
       padding-left: 1rem;
       padding-right: 1rem;
   }
}



/* BG LINES */

.bglines {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    width:100%;
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content:Center;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
    
    @media (max-width:900px) {
        opacity: 0.5;
    }  

    > span {
        display: flex;
        flex:1;
        max-width: 1px;
        width: 1px;
        height: 100%;
        background-color: #181c27;
        margin: 4%;
        opacity: 0.04;
    }

          

    .bglines--001 {
        position: fixed;
        bottom: 0px;
        left: 1.6%;

        max-width: 1px;
        width: 1px;
        height: 300px;
        background-color: brown;
        margin: 4%;

        -webkit-animation: slide-top 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-top 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        .bglines--text {
            content:'research';
            display: block;
            color:brown;
            transform: rotate(270deg);
            position: absolute;
            bottom: 45%;
            left: -90px;
            font-size: 1.5rem;
            font-weight: 400;
            font-family: 'eksell_displaylarge', 'Work Sans', Helvetica, Arial, sans-serif;
            letter-spacing: 0.04em;
            z-index:1;
        }
        @media (max-width:1390px) {
            display: none;
        }  
    }          
 
}



/* Animation for big lines */

/* ----------------------------------------------
 * Generated by Animista on 2020-11-4 21:8:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 .animate-line-1 {

	-webkit-animation: slide-top 15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.animate-text-1 {

	-webkit-animation: slide-top 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-top 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
    -webkit-animation-direction: alternate;
            animation-direction: alternate;

}


/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------

 @-webkit-keyframes animate-line-1 {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    5% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  } 
  */
 
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  


  // GREY AREA WRAPPER 

  .grey-area-wrapper {
    width: 100%; 
    background-color: #f4f4f4; 
    display: block; 
    position:relative;
    padding: 3rem auto;
    margin:0;
  }