.comp__wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:Center;
    text-align: center;
 
    .comp__dropdown {
       font-size: 0.7rem;
       padding: 0.6rem;
       border: 1px;
       background-color: gray;
       color: white;
       border-right: 15px solid gray;
       border-left: 5px solid gray;
       border-radius: 6px 0 0 6px;
    }
 
    .comp__button {
       font-size: 0.7rem;
       padding: 0.7rem 1rem;
       background-color: green;
       color: white;
       border: 0px;
       border-radius: 0 6px 6px 0;
    }
 
 }