
/* ------------------------ 
      Button library
  ------------------------ 
  
  Merge with UI pattern library colours

      <a class="btn btn--primary btn--small"></a>

 */


 $primary-colour: brown;
 $secondary-colour: #64c7c9;
 $accent-colour: #3A87FF;
 
 // Universal colour ( same for both sites )
 $green: green;
 $black: #242427;
 $white: #ffffff;
 
 /* Generic style button */
 
 .btn {
     // remove the general reset from here and use normalize.css
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     border: none;
     outline: 0px;
     text-decoration: none;
     display: inline-block;
     background-color: transparent;
     padding: 0.9rem 1.5rem;
     letter-spacing: 0.04em;
     font-size: 1em;
     font-weight: 500;
     cursor: pointer;
     transition: all 0.2s cubic-bezier(0.2, 0.5, 0, 1);
     position: relative;
     overflow: hidden;
     border-radius: 4px;
 
     &:disabled {
         opacity: 0.3;
         cursor: not-allowed;
     }
 
     &:hover:before {
         left: 0%;
         right: auto;
         width: 100%;
     }
 
     &:before {
         content: '';
         display: block;
         position: absolute;
         top: 0px;
         right: 0px;
         height: 100%;
         width: 0px;
         z-index: -1;
         transition: all 0.2s cubic-bezier(0.2, 0.5, 0, 1);
     }
 }
 
 
 
 /* ++++++++++++++++++++++++++++++++++++++++++++++++++
    JUST TEXT 
 ++++++++++++++++++++++++++++++++++++++++++++++++++ */
 
 
 .btn--text {
     // Simple text with no underline
     text-transform: initial;
 
 
     &:hover {
         color: $primary-colour;
         text-decoration: underline;
     }
 }
 
 // Simple text with underline
 .btn--text-underline {
     text-transform: initial;
     text-decoration: underline;
     letter-spacing: 0.02em;
 
     &:hover {
         color: $primary-colour;
     }
 }
 
 // Uppercase text in black, with underline
 .btn--text-uppercase {
     text-transform: uppercase;
     text-decoration: underline;
     color: $black;
 
     &:hover {
         color: $black;
     }
 }
 
 
 
 
 
 /* ++++++++++++++++++++++++++++++++++++++++++++++++++
     PRIMARY BUTTON 
 ++++++++++++++++++++++++++++++++++++++++++++++++++ */
 
 
 .btn--primary {
     color: $white;
     background: $primary-colour;
     border-color: $primary-colour;
 
     &:hover,
     &:active {
         border-color: $primary-colour;
         color: #fefefe;
         background: darken($primary-colour, 18%);
     }
 }
 
 
 
 
 /* ++++++++++++++++++++++++++++++++++++++++++++++++++
     SECONDARY BUTTON 
 ++++++++++++++++++++++++++++++++++++++++++++++++++ */
 
 
 .btn--secondary {
     color: $white;
     background: $secondary-colour;
     border-color: $secondary-colour;
 
     &:hover,
     &:active {
         border-color: $secondary-colour;
         color: #fefefe;
         background: darken($secondary-colour, 18%);
     }
 }
 
 
 
 /* ++++++++++++++++++++++++++++++++++++++++++++++++++
     ACCENT BUTTON 
 ++++++++++++++++++++++++++++++++++++++++++++++++++ */
 
 
 .btn--accent {
     color: $white;
     background: $accent-colour;
     border-color: $accent-colour;
 
     &:hover, &:active {
         border-color: brown;
         color: #fefefe;
         background: darken($accent-colour, 18%);
     }
 }
 
 
 
 
 /* ++++++++++++++++++++++++++++++++++++++++++++++++++
     BLACK BUTTON 
 ++++++++++++++++++++++++++++++++++++++++++++++++++ */
 
 .btn--black {
     background-color: $black;
     border-color: $black;
     color: $white;
 
 
     &:hover {
         background: darken($black, 10%);
     }
 
     &:active {
         background: darken($black, 20%);
     }
 }
 
 
 
 
 /* ++++++++++++++++++++++++++++++++++++++++++++++++++
     GREEN BUTTON 
 ++++++++++++++++++++++++++++++++++++++++++++++++++ */
 
 .btn--green {
     background-color: $green;
     border-color: $green;
     color: $white;
 
 
     &:hover {
         background: darken($green, 10%);
     }
 
     &:active {
         background: darken($green, 20%);
     }
 }
 
 
 
 
 /* ++++++++++++++++++++++++++++++++++++++++++++++++++
     GHOST BUTTON 
 ++++++++++++++++++++++++++++++++++++++++++++++++++ */
 
 .btn--ghost {
     color: $primary-colour !important;
     border: 1px solid #f1f1f1; 
     background-color: #f1f1f1;
 
     &:hover {
        border: 1px solid lighten($primary-colour, 5%);
        background: #f1f1f1;         
        color: lighten($primary-colour, 5%) !important;

     }
 
     &:active {
        background: lighten($primary-colour, 5%);
         color: #ffffff !important;
     }
 }
 
 /* ++++++++++++++++++++++++++++++++++++++++++++++++++
     TYPE
 ++++++++++++++++++++++++++++++++++++++++++++++++++ */
 
 .btn--rounded {
     border-radius: 50px;
 }
 
 
 /* ++++++++++++++++++++++++++++++++++++++++++++++++++
     SIZE 
 ++++++++++++++++++++++++++++++++++++++++++++++++++ */
 
 .btn--small {
     font-size: 0.8em;
     padding: 8px 18px;
 }
 
 
 /* Support for IMG and SVG inside buttons  */
 
 .btn__icon {
     width: 20px;
     height: 20px;
     margin-right: 0.5rem;
     position: relative;
     float: left;
 
     img, svg {
         max-width: 100%;
     }
 }
 
 
 /* 
     Support for icon font inside buttons 
     btn__i btn__i--left
 */
 
 .btn__i {
     width: 20px;
     height: 20px;
     position: relative;
     font-size: 14px;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .btn__i--left {
     width: auto;
     float: left;
     margin-right: 0.5rem;
 }
 
 .btn__i--right {
     width: auto;
     float: right;
     margin-left: 0.5rem;
 }
 