
/* ==========================================================================
   HERO BANNER LAYOUT
   ========================================================================== */


   .hero-banner {
      background-color: #fff;
      width: 100%;
      height: auto;
      display: block;
      position: relative;
      overflow: hidden;

      min-height: 900px;

      @media (max-width:1560px) {
         min-height: 700px;
      }

    }

    .hero-banner__inner {
       margin-top: 14rem;
       display: flex;
       align-items: Center;
       justify-content:center;
      height: 100%;
      background: white;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      
      overflow: hidden;

   // background-image: url(/img/banner/banner1.png);
   // background-size: fit;
   // background-position: center center;
   // background-repeat: no-repeat;
  }
   
   // .hero-banner__background-img {
   // height: 100%;
   // overflow: hidden;
   // background-image: url(/img/banner/bg1.png);
   // background-size: fit;
   // background-position: center center;
   // background-repeat: no-repeat;
   // }
 
   .hero-banner__video-bg {
      width: 100%; 
      height: 100vh;
      position: absolute; 
      left: 0; 
      right: 0;
      top:0;
      bottom:0;
      overflow: hidden;

      opacity: 1;

      video {
         width: 100%;  
      }
   } 

   .hero-banner {

      @media (max-width:1250px) {
         height: 700px; 

         .hero-banner__inner { 
            height: 700px; 

                     
            .hero-banner__video-bg {
               width: 100%; 
               height: 700px; 
               position: absolute; 
               left: 0; 
               right: 0;
               top:0;
               overflow: hidden;

               video {
                  width: auto;
                  height: 700px;
               }
            } 

         }
      }

   }