
/* ==========================================================================
   HOME FILTERS
============================================================================= */

.home-filters {
   width: 100%;
   position:relative;
   background-color: #181c27;
   padding: 4rem 0;
}

.home-filters__inner {
   width: 100%;
   position:relative;
}

   .home-filters__ul { 
      width: 100%;
      list-style: none;
      padding:0;
      margin:0;
      display: flex;
      align-items: center;
      justify-content:Center;
   }

   .home-filters-item { 
      width: 100%;
      display: flex;
      align-items: center;
      justify-content:Center;
      margin-bottom: 3rem;
      color: white;
      letter-spacing: 0.05em;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.5rem;
      margin:1rem;

   }
