
/* ==========================================================================
   text-normal
   ========================================================================== */


   .text-normal {
      width: 100%;
   }
   .text-normal__inner {
      width:100%;
      max-width: 900px;
      display: block;
      margin: auto;
   }
