
/* ==========================================================================
   WORK BANNER LAYOUT
   ========================================================================== */


   .work-banner {
      background-color: white;
      width: 100%;
      height: 50vh;
      display: block;
      position: relative;

      overflow: hidden;

      h1 {
         font-size: 9rem;
         color: #181c27;
      }

      @media (max-width: 900px) {
         height: 500px;
      }
    }

    .work-banner__inner {
       display: flex;
       align-items: Center;
       justify-content:center;
      height: 100%;
      overflow: hidden;
      background: white; // was turquoise;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;


   // background-image: url(/img/banner/banner1.png);
   // background-size: fit;
   // background-position: center center;
   // background-repeat: no-repeat;



   .superblobber {
      position: absolute;
      svg {
         fill: white;
         transform: scale(1.6);
         opacity: 0.3;
      }
   }

  }

    
/* ==========================================================================
      HERO BANNER -- card
   ========================================================================== */


   .work-banner__card {
      display: block;
      text-align: center;
      position:relative;
      z-index: 2;

      h1 {
         font-size: 5rem;
         margin:0;
         padding:0;
         font-weight: 600;
         position:Relative;

         @media (max-width: 900px) {
            max-width: 80%;
            text-align:Center;
            margin:auto;
            font-size: 4rem;
         }
      }

      h2 {
         font-size: 1.4rem;
         margin:0;
         padding:0;
         line-height: 1.4;
      }

   }

   .work-banner__video {
      width: 100%; 
      height: auto; 
      position: absolute; 
      left: 0; 
      right: 0;

      @media (max-width: 900px) {
         width: auto;
         height: 100%;
      }

   }